<div class="container-fluid">
<h2>Login Form</h2>

<div> <p>testing div</p></div>

<form action="" method="post" [formGroup]="login">
 
  <div>{{login.value|json}}</div>
 <div class="form-group">
   
  <label>Username</label>
 <input type="text" class="form-control" formControlName="username"  #name>
<!--  <div *ngIf="login.controls['username'].invalid && (login.controls['username'].dirty || login.controls['username'].touched)"> 
     <div *ngIf="login.controls['username'].hasError('required')" class="alert alert-danger">This field is required</div> 
      <div *ngIf="login.controls['username'].hasError('minlength')" class="alert alert-danger">minlength=5</div>
      <div *ngIf="login.controls['username'].hasError('maxLength')" class="alert alert-danger">Max length=10</div>
    </div>
 </div>
 stupid way to do validation-->
<div class="form-group">
  <label>password</label>
 <input type="password" class="form-control" formControlName="password">
<!--  <div *ngIf="login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched)"> 
  <div *ngIf="login.controls['password'].hasError('required')" class="alert alert-danger">This field is required</div> 
   <div *ngIf="login.controls['password'].hasError('pattern')" class="alert alert-danger">Match Pattern</div>
   
 </div>

you are better than this, boi -->
</div>



<div class="form-group">
  <label>Cnf password</label>
 <input type="password" class="form-control" formControlName="cnfpassword">

<!-- You fool :'(
   <div *ngIf="login.controls['cnfpassword'].invalid && (login.controls['password'].dirty || login.controls['password'].touched)"> 
    <div *ngIf="login.controls['cnfpassword'].hasError('required')" class="alert alert-danger">This field is required</div> 
     <div *ngIf="login.controls['cnfpassword'].invalid" class="alert alert-danger">passwords don't Match</div>
   
 </div>  
why you do this? -->

</div>

<div class="form-group" >
   <label> Email</label>
  <input type="email" class="form-control" formControlName="mail">
   
</div>   




<div class="form-group" >
  <label> URL</label>
 <input type="text" class="form-control" formControlName="URL">
    
</div>




<div class="form-group">
 <label >Gender</label>
   <input type="radio"  class="form-control" name="gender" formControlName="gender" value="male">Male
   <input type="radio"  class="form-control" name="gender" formControlName="gender" value="Female">Female
   <input type="radio"  class="form-control" name="gender" formControlName="gender" value="others">Others
   <input type="radio"  class="form-control" name="gender" formControlName="gender" value="None">None
</div>

<div formGroupName="address">
     
  <div class="form-group">
    <label>Area</label>
   <input type="text" class="form-control" formControlName="area">
  
  </div>


  <div class="form-group">
    <label>City </label>
   <input type="text" class="form-control" formControlName="city">
  
  </div>

  <div class="form-group">
    <label>Zip Code</label>
   <input type="number" class="form-control" formControlName="zipcode">
  </div>

  <div class="form-group">
    <label>Country</label>
   <select class="form-control" formControlName="country">
     <option *ngFor="let x of countries" [value]="x">{{x}}</option>
    </select>
  </div>



</div>

<div class="form-group">
<button type="submit" value="Submit" class="form-control" (click)="onsubmit(login.value)">Submit</button>
</div>

<div class="form-group">
  <button type="submit" value="Submit" class="form-control" (click)="loadData()">Set Value</button>
  </div>

 <!------------------------------------Visual Validation--------------------------------------------->
 <hr>
 <div class="validations" *ngIf="login.touched">
   
   <span>
       <i class="fa fa-check-circle" style="color:green;" *ngIf="login.controls.username.valid"></i>
       <i class="fa fa-times-circle" style="color:firebrick;"  *ngIf="login.controls.username.invalid"></i>
       Username should be minimum 4 characters long.
  </span>

  <span>
  <i class="fa fa-check-circle" style="color:green;" *ngIf="login.controls.password.valid"></i>
  <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="login.controls.password.invalid"></i>
Passowrd should contain one Uppercase, one lowercase and one digit
</span>

<span>
    <i class="fa fa-check-circle" style="color:green;" *ngIf="login.controls.mail.valid"></i>
    <i class="fa fa-times-circle" style="color:firebrick;"  *ngIf="login.controls.mail.invalid"></i>
    Email address should match the pattern
</span>
<span>
       <i class="fa fa-check-circle" style="color:green;" *ngIf="login.controls.address.controls.zipcode.valid"></i>
       <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="login.controls.address.controls.zipcode.invalid"></i>
       Zip code should be 6 digit number only. 
   </span>
   <span>
       <i class="fa fa-check-circle" style="color:green;"  *ngIf="login.controls.cnfpassword.valid"></i>
       <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="login.controls.cnfpassword.invalid"></i>
       Password and confirm password should match.
   </span>
 </div>




 <!------------------------------------Visual Validation--------------------------------------------->
    </div>
  </form>
</div>

